/external/deep3dfacerecon_pytorch/BFM/
/external/deep3dfacerecon_pytorch/nvdiffrast/
/external/deep3dfacerecon_pytorch/insightface/
/external/deep3dfacerecon_pytorch/models/
/external/deep3dfacerecon_pytorch/checkpoints/
**/__pycache__
/.idea
/.vscode
/outputs